.index_body {
    margin: 0;
    background-image: url(picture/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 微軟正黑體 Light;
    -webkit-font-smoothing: antialiased;
}

h2{
    text-align: center;  /*為組員介紹置中的設定*/
}

/*下方為header的設定*/


header {
    height: 100px;
    background-image:url(picture/logo5-1.png);
    font-family: Muyao-Softbrush;
    font-size: 50px;
    text-align: center;
    }
    
    #logo {
    width: 250px;
    height: 250px;
    margin-top: -39px;
    /*border-radius: 30px;*/
    }
    
    nav {
    
    text-align: center;
    font-family: Arial;
    margin-top: -30px;
    height: 40px;
    }
    
    nav ul {
    margin: 0;
    padding: 0;
    }
    
    nav ul li {
    display: inline;
    margin-right: 10px;
    margin-top: -15px;
    }
    
    nav ul li a {
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    font-size: 20px;
    margin-top: -50px;
    }
    
    nav ul li a:hover {
      background-color:#C3A6A0;
    color:black;
    margin-top: -10px;
    }
    
    /*為header的設定到此end*/
    
/*下方為購物車滾輪的css*/
aside {
    position: fixed;
    left: 94.5%;
    top: 200px;
  }
  
  /*為購物車滾輪的設定到此end*/


 /*下方為組員介紹的css*/
 .GMT{
margin-top: 200px;
 }

 
 .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    margin-top: 100px;
  }
  
  .card {
    width: 50rem; /* 调整白色框架的宽度 */
    height: 20rem; /* 调整白色框架的高度 */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem; /* 添加内边距 */
  }
  
  .card img {
    width: 200px; /* 调整照片的大小 */
    height: 200px; /* 调整照片的大小 */
    margin-right: 1rem; /* 添加照片和文字之间的间距 */
    transition: transform 0.3s ease; /* 添加过渡效果 */
  }
  
  .card .content {
    flex: 1; /* 让文字部分占据剩余空间 */
  }
  
  .card h3{
    margin: 0; /* 去除默认的外边距 */
    text-align: left;
    font-family: 微軟正黑體 Light;
    font-size: 20px;

  }
  .card p {
    margin: 0; /* 去除默认的外边距 */
    text-align: left;
    font-family: 微軟正黑體 Light;
    font-size: 15px;
    text-indent: 2em; /* 设置缩进为2个空格的宽度 */
  }

  .card img:hover {
    transform: scale(2.0); /* 在滑鼠悬停时放大相片 */
  }
  
  
   /*組員介紹的css到此end*/


   
/*下方為footer的css*/
footer {
    color: white;
    text-align: center;
    background-color: #444444;
    padding: 50px;
    margin-top: 400px;
  }
  
  footer p {
    margin-top: -10px;
  }
  
  .footer2 {
    background-color: burlywood;
    height: 30px;
    margin-top: -25px;
  }
  
  
  /*為footer的css到此end*/