/* 註冊區 */
body {
    background-image: url(picture/background.jpg);
    margin: 0px;
}

.signup_main {
    margin-top: 10%;
    width: 600px;
    height: 1000px;
    color: rgb(1, 0, 0);
    box-shadow: 0 0 50px #000;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.form {
    margin-left: 8%;
    padding-top: 20px;
    height: 650px;
}

form h2 {
    margin-left: -8%;
    text-align: center;
}

label {
    line-height: 2;
    font-size: larger;
}

.inputext {
    margin-bottom: 20px;
    width: 84%;
    text-align: center;
    border-bottom: 0.5px solid #8b1781;
}

.ipt {
    width: 98%;
    line-height: 2;
    border-radius: 5px;
    outline: invert;
    outline-style: none;
    outline-width: 0;
    border: 0;
    background-color: transparent;
    /* border-style: none;
    outline-color: transparent;
    text-shadow: none; */
}

.btnmain {
    margin-top: 50px;
    text-align: center;
    margin-left: -8%;
}

.btn {
    font-size: 20px;
    border-radius: 5px;
    background-color: #f2e9f7;
    width: 150px;
    border: none;
    padding: 10px 0;
    margin: 0 10px;
    color: rgb(29, 26, 29);
    cursor: pointer;
}

.gologin {
    padding-left: 5%;
    /* margin-top: 20px; */

}